/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #3498db;
  --bg-color-light: #ffffff;
  --bg-color-dark: #2c3e50;
  --text-color-light: #2c3e50;
  --text-color-dark: #ecf0f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  font-family: "Poppins", sans-serif;
  color: var(--text-color-light);
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

body.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.cards {
  perspective: 1000px;
}

.card {
  transition: 0.3s linear;
  transform: translateZ(0px);
  border: 1px solid rgba(100, 100, 100, 0.425);
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
}

.card:hover {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.24);
  transform: translateZ(60px);
  -webkit-transform: translateZ(60px);
  -moz-transform: translateZ(60px);
  -ms-transform: translateZ(60px);
  -o-transform: translateZ(60px);
}

.card p {
  margin: 0;
}
::ng-deep.p-progress-spinner {
  width: 150px;
  height: 150px;
}
