<div class="backgroundImg"></div>

<div class="row text-center text-capitalize pt-4">
  <h1>get our all the camps</h1>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-10 d-flex justify-content-center pt-3 flex-wrap gap-3 my-3">
    <div
      class="card"
      style="width: 18rem; cursor: pointer"
      (click)="onCardClick(1)"
    >
      <img
        class="card-img-top"
        src="https://s3.us-west-1.amazonaws.com/idtech-2018-media-prd/listing_university_washington_32c75dfd8a.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="row">
          <p-button
            label="Lear More"
            styleClass="px-2 py-1 rounded w-100 text-white"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card flex justify-content-center">
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="120"
    [rowsPerPageOptions]="[10, 20, 30]"
  />
</div>
