<div class="backgroundImg"></div>

<div class="text-center text-capitalize pt-4">
  <h1>Get all the camps</h1>
</div>

<div class="container-fluid">
  <div
    class="row"
    style="margin-left: 0 !important; margin-right: 0 !important"
  >
    <!-- Loop through camps and create a responsive card layout -->
    @for (camp of camps; track camp.id){
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center py-3 flex-wrap gap-3 my-3"
    >
      <div
        class="card p-2 rounded-4"
        style="width: 100%; cursor: pointer; margin-top: 1rem"
        (click)="onCardClick(camp.id)"
      >
        <img
          class="card-img-top rounded-4"
          [src]="camp.imageLink"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="col">
            <h5 class="card-title">{{ camp.campName }}</h5>
          </div>
          <div class="col">
            <div class="row-6">
              <p>Ages: {{ camp.ageGroup }}</p>
            </div>
            <div class="row-6">
              <p>Gender: {{ camp.gender }}</p>
              <p>Price: {{ camp.price }}</p>
              <p>
                Category: @if(camp.category=='female'){
                <i class="fa-solid fa-venus"></i> {{ camp.category }}
                } @else if (camp.category == 'male') {
                <i class="fa-solid fa-mars"></i> {{ camp.category }}
                } @else {
                {{ camp.category }}
                }
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div> 
