.backgroundImg {
  height: 30vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1460925895917-afdab827c52f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2ViJTIwc2NyYXBpbmd8ZW58MHx8MHx8fDA%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  transition: 0.3s linear;
  transform: translateZ(0px);
  border: 1px solid rgba(100, 100, 100, 0.425);
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.15);
}

.card:hover {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.24);
  transform: translateY(-5px);
}

.card p {
  margin: 0;
}

/* Responsive Breakpoints */
@media (max-width: 1200px) {
  .col-lg-3 {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .col-md-4 {
    width: 100%;
  }

  .backgroundImg {
    height: 40vh;
  }
}

@media (max-width: 576px) {
  .col-sm-6 {
    width: 100%;
  }

  .backgroundImg {
    height: 45vh;
  }
}

::ng-deep.p-progress-spinner {
  width: 150px !important;
  height: 150px !important;
}
