<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div
    class="logo d-flex align-items-center"
    (click)="navigateToHomePage()"
    style="cursor: pointer"
  >
    <img src="./logo.png" class="logo" style="    width: 200px;
    height: 150px;" alt="" />
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNav"
    style="flex-basis: unset"
  >
    <ul class="navbar-nav mr-5">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/camps">Camps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>

    <div class="contact d-flex align-items-center w-25">
      <div class="d-flex w-100 justify-content-end">
        <ul class="d-flex list-unstyled gap-3 m-0">
          <li>
            <a>
              <i class="pi pi-phone"></i>
            </a>
          </li>
          <li>
            <a target="_blank">
              <i class="pi pi-facebook"></i>
            </a>
          </li>
          <li>
            <a target="_blank">
              <i class="pi pi-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
